@using TiklaaKap.Models.Class
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Ürünler</li>
</ol>
<a class="btn btn-outline-info float-right" style="margin-left:10px;" target="_blank" href="/Product/ProductList/"><i class="fa fa-print"></i> Dışa Aktar</a> <a class="btn btn-outline-danger float-right" style="margin-left:10px;" href="/Product/PasifProduct/">Pasif Ürünler</a> <a class="btn btn-primary float-right" href="/Product/ProductAdd/">Yeni Ürün Ekle</a>
<br />
<br />
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ürün Görsel</th>
                <th>Ürün Adı</th>
                <th>Marka</th>
                <th>Kategori</th>
                <th>Alış Fiyatı</th>
                <th>Satış Fiyatı</th>
                <th>Stok</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Ürün Görsel</th>
                <th>Ürün Adı</th>
                <th>Marka</th>
                <th>Kategori</th>
                <th>Alış Fiyatı</th>
                <th>Satış Fiyatı</th>
                <th>Stok</th>
                <th>İşlemler</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.ProductID</td>
                    <td>
                        <a href="#@x.ProductImage">
                            <img width="75" src="@x.ProductImage">
                        </a>
                        <a href="#" class="lightbox" id="@x.ProductImage">
                            <span style="background-image: url('@x.ProductImage')"></span>
                        </a>
                    </td>
                    <td>@x.ProductName</td>
                    <td>@x.ProductBrand</td>
                    <td>@x.Category.CategoryName</td>
                    <td>@x.BuyPrice ₺</td>
                    <td>@x.SellPrice ₺</td>
                    <td>@x.Stock</td>
                    <td>

                        <a class="btn btn-outline-warning" href="/Product/ProductView/@x.ProductID">Düzenle</a>
                        <a class="btn btn-danger" href="/Product/ProductDelete/@x.ProductID">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

